* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}


.container {
    width: 100%;
    background-color: white;

    height: 150px;
}



.bg-light-blue  {
    width: 100%;
    background-color: #f5f8fa;

    height: 75PX;
}

.navbar{
    float: right;
    width: 350px;
    background-color: white;
}

.navbar a:hover {
    color: #425b76;
}


.cta {
    position: absolute;
    left: 80%;
    bottom: 92.5%;
}

#login-button {
    background-color: #ffffff;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-orange {
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
}

.info {
    background-color: #f5f8fa;
    position: absolute;
    left: 10%;
    bottom: 92.5%;
}


.bg-light-white  {
    width: 100%;
    background-color: white;
    height: 100px;

}

#logo {
    float: left;
    margin-left: 80px;
}

.bg-blue  {
    width: 100%;
    background-color: #425b76;
    height: 130px;
    padding-top: 30px;

}


.banner {
    width: 100%;
    background-color: white;


    height: 800px;
}


.Testo-Main  {
    width: 60%;
    text-align: left;
    float: left;
    font-size: 30px;
    margin-top: 80px;
    margin-left: 7.0%;
}

h1 {
    color: #33475b;
}

.Testo-2 {
    width: 60%;
    text-align: left;
    float: left;
    font-size: 20px;
    margin-left: 7.0%;
}

p {
    color: #33475b;
}

h2 {
    color: white;
    font-size: 15px;
    text color: white;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

.btn-cta {
    text-align: left;
    float: left;
    font-size: 20px;
    margin-left: 7.0%;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;

}


h3 {
    color: white;
    font-size: 15px;
    text color: white;
    padding: 5px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
}




.learnmore {
    float: right;
}


.learn-button {
    padding: 15px 30px;
    border-radius: 4px;
    border: none;
    color: #425b76;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-right: 60px;
    margin-bottom: 300PX;
}


.banner-2 {
    width: 100%;
    background-color: orange;

    height: 1000px;

}

.banner-3 {
    width: 100%;
    background-color: black;

    height: 1000px;

}

.banner-4 {
    width: 100%;
    background-color: white;

    height: 1000px;

}


.footer {
    width: 100%;
    background-color: #33475b;

    height: 400px;
}
